mixin card(props)
  .card(class=props.colour)
    a.link(href=props.href)
      if props.src
        figure(style=`background-image: url(${props.src})`)
          img(src=props.src, alt='Thumbnail')
    .content
      .perspective
        span.name=props.perspective.name
        span.score=props.perspective.score
      a(href=props.href)
        h3=props.title
      p=props.text
